body {
  background-color: #212529;
}

header {
  z-index: 10000;
}

a {
  color: white;
}

.nav-link {
  color: white;
}

:any-link {
  color: white;
}

:link {
  color: white;
}
.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 25px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  padding: 10px;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 10px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  padding: 10px;
}
@media (max-width: 1250px) {
  .flo_p {
    display: none;
  }
  .banner {
    display: none;
  }
  .banner_low_poly {
    display: block;
  }
  /* .title {top: 35%;} */
}

@media (min-width: 1250px) {
  .banner {
    display: block;
  }
  .banner_low_poly {
    display: none;
  }

}

@media (max-width: 1809px) {

}
@media (max-width: 701px) {
  .title{
    display: none;
    
  }
}

.navbar-toggler-icon{
  filter: invert(1);
}

.playbutton{ 
  z-index: 900000;
  background: #3f474f;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

  display: none;
}

.title{
  pointer-events: none;
}
