/**************************************CONTACT****************************************/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 2%;
}

.formulaire {
  margin-top: 50px;
  text-align: center;
}

.formContainer{
  background-color: #bb0000;
  border-radius: 50px;
  margin: 8% 20%;
}

.textContact {
  color: white;
  /* font-weight: bold; */
  margin-top: 2%;
  padding-top:10% ;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
  background: none;
}



textarea {
  resize: none;
  margin-top: 5%;
  border-radius: 10px;
}

button {
  width: 100px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

@media (max-width: 842px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 18% 10% auto 10%;
    margin-top: 2%;
  }

  .formulaire {
    margin-top: 50px;
    text-align: center;
  }
  
  .formContainer{
    background-color: #bb0000;
    border-radius: 50px;
    margin: 8% 5%;
  }
  
  .textContact {
    color: white;
    /* font-weight: bold; */
    margin: 2% 5% 0% 5%;
    padding-top:10% ;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  input {
    color: white;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    background: none;
    width: 130%;
  }
  
  
  
  textarea {
    resize: none;
    margin-top: 5%;
    border-radius: 10px;
    width: 130%;
  }
  
  button {
    width: 100px;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  .card-text{
    font-size: 15px;
    }

}

/*********************************************PRESENTATION*********************************/
body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1{
  text-align: center;
  margin: 20px;
}

h4{
  text-align: center;
  font-weight: bold;
}

.card{
  margin: 0px 10px;
  text-align: center;
  
}
.card-body{
  background-color: lightgray;
}
.photo {
  padding-bottom: 50px;
}

.linky-cones {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.presentation {
  padding-bottom: 50px;
}

@media (min-width:440px) {
  #flo_jpeg{
    border-radius: 5px 0px 0px 5px;
  }
  .etapes{
    display: flex;
    justify-content: center;
  }
}

@media (max-width:440px) {
  #flo_jpeg{
    border-radius: 5px 5px 0px 0px;
  }
  .etapes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  /***********************************LOK***************************/

  header {
    z-index: 10000;
  }
  
  a {
    color: white;
  }
  
  .nav-link {
    color: white;
  }
  
  :any-link {
    color: white;
  }
  
  :link {
    color: white;
  }
  .fa {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
  }
  
  .fa:hover {
    opacity: 0.7;
    color: white;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
    padding: 10px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    padding: 10px;
  }
  .title {
    position: absolute;
  }

  .nav-bar-no-css{all:unset;}


  @media (max-width: 1250px) {
    .flo_p {
      display: none;
    }
    .banner {
      display: none;
    }
    .banner_low_poly {
      display: block;
    }

    /* .title {top: 35%;} */
  }
  
  @media (min-width: 1250px) {
    .banner {
      display: block;
    }
    .banner_low_poly {
      display: none;
    }
  
    .title {
      top: 10%;
    }
  }
  
  @media (max-width: 1809px) {
    .title {
      top: 35%;
    }
  }
  
  .navbar-toggler{
    margin: 0;
    width: 56px;
    height: 40px;
  }

  .navbar-toggler-icon{
    height: 30px;
    width: 30px;
  }

  .navbar-toggler-icon{
    filter: invert(1);
  }

  /**********************************GALERIE**********************************/
  .h2{
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
  }

.photosgal img{
  width: 350px;
  height: 350px;
  margin: 5px;
  border-radius: 10px;
}
  .photosgal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .photosgal img:hover{
    transform: scale(1.02);
  }

  .videogal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }

  iframe{
    margin: 15px;
  }