body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
};

.boite-a-lien{
    display: flex;
    flex-direction: row;
}

.images{
    width:150px;
    height:150px;
    contain: cover;
}

.photo{
    padding-bottom: 50px;
}



.presentation{
    padding-bottom: 50px;
}